OPENAI_API_KEY=***
GROQ_API_KEY=***
DEEPSEEK_API_KEY=***
GOOGLE_API_KEY=***
PUSHOVER_TOKEN=***
PUSHOVER_USER=***
SENDGRID_API_KEY=***
PERSONAL_EMAIL=******@****
HF_TOKEN=***
SERPER_API_KEY=***

LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=<your-api-key>
LANGSMITH_PROJECT="testing"